.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 400px;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  










  .img{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius:12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    border-radius:12px;
    margin: 20px 100px 20px 100px;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}
.imgInfo{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    
}
.name{
    font-size: 24px;
    font-weight: bold;
}
.info{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.address{
    display: flex;
    flex-direction: row;
    gap:10px
}















/* Модальное окно с затемнением */
.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Когда модальное окно открыто, появляется */
.modalBackdrop.open {
  opacity: 1;
  visibility: visible;
}

/* Само модальное окно */
.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

/* Когда модальное окно открыто, оно появляется плавно */
.modalContent.open {
  transform: scale(1);
}

/* Кнопка закрытия */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

/* Кнопка редактирования */
.editButton {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #45a049;
}
